{#
   Each field type is rendered by a template fragment, which is determined
   by the name of your form type class (DateTimePickerType -> date_time_picker)
   and the suffix "_widget". This can be controlled by overriding getBlockPrefix()
   in DateTimePickerType.

   See https://symfony.com/doc/current/cookbook/form/create_custom_field_type.html#creating-a-template-for-the-field
#}
{% extends 'bootstrap_4_layout.html.twig' %}

{# bloc pour l'affichage du sous formulaire "Address" a l'édition de l'utilisateur #}
{% block _user_row %}
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			{{ form_row(form.username) }}
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			{{ form_row(form.email) }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-12">
			{{ form_row(form.fullName) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			{{ form_row(form.firstname) }}
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			{{ form_row(form.lastname) }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
			{{ form_row(form.birthday) }}
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{{ form_row(form.age) }}
		</div>
	</div>
	{{ form_row(form.address.street) }}
	{{ form_row(form.address.building) }}
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
			{{ form_row(form.address.city) }}
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{{ form_row(form.address.zipCode) }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
			{{ form_row(form.address.state) }}
		</div>
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			{{ form_row(form.address.country) }}
		</div>
	</div>
	{{ form_rest(form) }}
{% endblock %}

{% block file_widget %}
	{% apply spaceless %}
	<div class="row align-items-center">
		<div class="col-8">
			{{ parent() }}
		</div>
		<div class="col-4">
			{% if image_url is defined and image_url is not null %}
				<img id="avatar-preview" class="img-thumbnail" src="{{ asset(image_url) }}"/>
			{% endif %}
		</div>
	</div>
	{% endapply %}
{% endblock %}

{% block url_widget %}
	{% apply spaceless %}

	<div class="col-md-8 col-sm-8 col-xs-12">
		{{ parent() }}
	</div>
	<div class="col-md-4 col-md-4 col-xs-12">
		{% if image_url is defined and image_url is not null %}
			<img id="avatar-preview" class="img-thumbnail" src="{{ asset(image_url) }}"/>
		{% endif %}
	</div>

	{% endapply %}
{% endblock %}

{% block date_time_picker_widget %}
	<div class="input-group date" data-toggle="datetimepicker">
		{{ block('datetime_widget') }}
		<span class="input-group-addon">
			<span class="fa fa-calendar" aria-hidden="true"></span>
		</span>
	</div>
{% endblock %}

{% block tags_input_widget %}
	<div class="input-group">
		{{ form_widget(form, {'attr': {'data-toggle': 'tagsinput', 'data-tags': tags|json_encode}}) }}
		<span class="input-group-addon">
			<span class="fa fa-tags" aria-hidden="true"></span>
		</span>
	</div>
{% endblock %}
