{% apply inky_to_html|inline_css(source('@css/foundation-emails.css'), source('@css/base-email.css')) %}

{# {% extends 'emails/layout.html.twig' %}

{% block content %} #}

<spacer size="16"></spacer>

<container class="header">
    <row>
        <columns>
            <h1 class="text-center">Bonjour <strong>{{ name }}</strong> Bienvenue sur SoMusicShare !</h1>
            <center>
                <menu class="text-center">
                    <item href="{{ absolute_url('homepage') }}">Home</item>
                    <item href="{{ absolute_url('blog_index') }}">Blog</item>
                    <item href="#">Contact</item>
                </menu>
            </center>
        </columns>
    </row>
</container>

<container class="body-border">
    <row>
        <columns>
            <spacer size="32"></spacer>
            <center>
                <img src="{{ email.image('@images/brand.png') }}" alt="Logo">
            </center>
            <spacer size="16"></spacer>
            <h4>Votre inscription sur le site SoMusicShare à bien été prise en compte !</h4>
            <p>Merci de rejoindre notre communauté, cela sera un plaisir d'échanger avec vous !</p>
            <p>Pour effectuer les opérations courantes, tels que (connection, changement de mot de passe, etc.), veuillez vous reporter aux liens ci-dessous</p>
            <p>PS: Noubliez pas de vous présenter en arrivant ;-)</p>
            <p>Merci <strong>{{ name }}</strong> !</p>
            <p> Plaire cédric - Créateur de SoMusicShare.</p>
            <center>
                <menu>
                    <item href="https://twitter.com/TheBebshow" title="Plaire-Cédric Twitter"</item>
                    <item href="https://www.facebook.com/cedric.plaire.7" title="Plaire-Cédric Facebook"</item>
                </menu>
            </center>
        </columns>
    </row>
    <spacer size="16"></spacer>
</container>
{# {% endblock %} #}
{% endapply %}