{% extends 'blog/layout.html.twig' %}

{% block title %}SoMusic - {{ 'reg_new_user'|trans }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-8">
            <div class="well">
                <form action="{{ path('security_register') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-user-plus" aria-hidden="true"></i> {{ 'reg_new_user'|trans }}</legend>
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.fullname) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        {{ form_rest(registrationForm) }}
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>{{ 'reg_user'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
