{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block header_navigation_links %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_post_index') }}">
            <i class="fa fa-list-alt" aria-hidden="true"></i> {{ 'menu.post_list'|trans }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('blog_index') }}">
            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.back_to_blog'|trans }}
        </a>
    </li>
{% endblock %}
{% block body %}
<div class="row">        
    <div id="main" class="col-sm-9 pl-5">
        {{ include('default/_flash_messages.html.twig') }}

        {% block main %}{% endblock %}
    </div> 
    <div id="sidebar" class="col-sm-3">
    {% block sidebar %}
        <div class="last-tweet"> 
            <a class="twitter-timeline" data-tweet-limit="4" data-height="500" href="https://twitter.com/symfony?ref_src=twsrc%5Etfw">Tweets by symfony</a> 
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
            'template': 'blog/about.html.twig',
            'sharedAge': 600,
            '_locale': app.request.locale
        })) }}
    {% endblock %}
    </div>           
</div>
{% endblock %}
